body {
    background-image: url('/imagenes/imagen-fondo-ferreteria.jpg');
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    color: black;
    height: 100vh;
    margin: 0;
}


.container-log-in{

    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;

}

.logo-gestion-usuarios{

    width: 100px;
    margin-top: 50px;

}

.btn-login{

    color: white;
    background-color: rgb(159, 161, 5);
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    border: none;

}

.btn-login:hover {

    background-color: rgb(226, 222, 3);;
}